

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

* {

    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
}

html {
    overflow-x: hidden
}

a {
    text-decoration: none;
    color: #333
}

h1 {
    font-size: 36pt
}

h2 {
    font-size: 30pt
}

h3 {
    font-size: 24pt
}

h4 {
    font-size: 20pt
}

h5 {
    font-size: 18pt
}

h6 {
    font-size: 16pt
}

.w3-serif {
    font-family: serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

p {
    margin: 0 0 10px
}

.aligncenter {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 100%
}

.aligncenter img {
    max-width: 100%;
    margin: 0 auto;
    display: block
}

.alignleft {
    float: left;
    max-width: 100%;
    margin-right: 15px
}

.alignright {
    float: right;
    max-width: 100%;
    margin-left: 15px
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

.table th {
    text-align: left
}

.table th,
.table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table-bordered {
    border: 1px solid #dee2e6
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6
}

.table-striped tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05)
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}


@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width: 1600px) {
    .container-lg {
        width: 1600px
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 812px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.order-first {
    -ms-flex-order: -1;
    order: -1
}

.order-last {
    -ms-flex-order: 13;
    order: 13
}

.order-0 {
    -ms-flex-order: 0;
    order: 0
}

.order-1 {
    -ms-flex-order: 1;
    order: 1
}

.order-2 {
    -ms-flex-order: 2;
    order: 2
}

.order-3 {
    -ms-flex-order: 3;
    order: 3
}

.order-4 {
    -ms-flex-order: 4;
    order: 4
}

.order-5 {
    -ms-flex-order: 5;
    order: 5
}

.order-6 {
    -ms-flex-order: 6;
    order: 6
}

.order-7 {
    -ms-flex-order: 7;
    order: 7
}

.order-8 {
    -ms-flex-order: 8;
    order: 8
}

.order-9 {
    -ms-flex-order: 9;
    order: 9
}

.order-10 {
    -ms-flex-order: 10;
    order: 10
}

.order-11 {
    -ms-flex-order: 11;
    order: 11
}

.order-12 {
    -ms-flex-order: 12;
    order: 12
}

$bg-color: #f4f4f2;
$green: #27c66f;
$orange: #ff8d0a;
html, body {
    font-size: 14px;
}
.header-scrolled {
    /*height: 78px;*/
    transition: all 0.2s;
    z-index: 998;
    /*padding: 10px 0;*/
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
    top: 0;
}

#header {
    position: relative;

    .header-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    .language {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        img {
            width: 14px;
            margin-right: 4px;
        }
        span {
            display: flex;
            align-items: center;
            font-weight: bold;
        }
        .icon-caret-down {
            width: 20px;
            height: 20px;
            color: $orange;
        }
        .language-list {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            background: $orange;
            display: none;
            ul {
                list-style: none;
                li {
                    border-bottom: 1px solid #ddd;
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        color: #fff;
                        display: block;
                        padding: 4px;
                        text-align: center;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-caret-down {
width: 0.5714285714285714em;
}
.icon-twitter {
    width: 0.9285714285714285em;
}
.icon-facebook-official {
    width: 0.7571428571428571em;
}

main {
    background: $bg-color;
    padding: 52px 0 0;
    .account {
        display: flex;
        box-shadow: 0px 3px 8px #ddd;
        border-radius: 8px;
        .account-left {
            width: 320px;
            background: $green;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            padding: 52px 20px 0 20px;
            .profile {
                display: flex;
                align-items: center;
                color: #fff;
                position: relative;
                i {
                    font-size: 40px;
                    color: #fff;
                }
                .profile-name {
                    padding-left: 12px;
                    p {
                        margin-bottom: 0;
                    }
                }
                .icon-caret-down {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 8px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
                .caret-down {
                    box-shadow: 0px 3px 8px #444;
                    background: #fff;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    width: calc(100% - 48px);
                    display: none;
                    ul  {
                        list-style: none;
                        li {
                            border-bottom: 1px solid #ddd;
                            a {
                                padding: 8px;
                                display: block;
                            }
                        }
                    }
                }
            }
            .account-line {
                border-top: 1px dashed #fff;
            }
            .account-group {
                padding: 24px 0;
                .account-item {
                    background: #fff;
                    border-radius: 20px;
                    padding: 8px 20px;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    img {
                        padding-right: 8px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        &:hover {
                            color: $orange;
                        }
                    }
                }
                .account-link {
                    margin-bottom: 8px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        .account-right {
            width: calc(100% - 320px);
            background: #fff;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 52px 40px 0 40px;
            position: relative;
            .account-button-group {
                display: flex;
                justify-content: space-between;
                a {
                    display: block;
                    width: 24%;
                    background: $orange;
                    padding: 8px;
                    border-radius: 20px;
                    color: #fff;
                    text-align: center;
                }
            }
            .account-title {
                display: flex;
                justify-content: space-between;
                padding: 32px 0 20px;
                h2 {
                    font-size: 24px;
                    font-weight: bold;
                    color: $green;
                }
                .account-search {
                    position: relative;
                    width: 40%;
                    input  {
                        width: 100%;
                        padding: 6px 20px;
                        padding-left: 32px;
                        border-radius: 20px;
                        border: 1px solid #ccc;
                        &:focus {
                            outline: none;
                        }
                    }
                    i {
                        position: absolute;
                        top: 50%;
                        left: 12px;
                        transform: translateY(-50%);
                        font-size: 20px;
                    }
                }
            }
            .account-table {
                z-index: 2;
                #example_length {
                    display: none;
                }
                #example_filter {
                    display: none;
                }
            }
            .account-text {
                position: relative;
                z-index: 9;
                padding-top: 20px;
            }
            .account-we  {
                position: absolute;
                bottom: 20px;
                right: 20px;
                z-index: 1;
                img {
                    width: 200px;
                }
            }
        }
    }
}

.liquidity-providers {
    padding: 80px 0;
    .title-group {
        padding-bottom: 60px;
    }
    .owl-carousel_liquidity {
        .item {
            img {
                width: inherit;
            }
        }
        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            width: 100%;
            z-index: -1;
            .owl-next {
                transform: rotate(180deg);
            }
            img {
                width: 24px;
            }
        }
    }
}


.title-group {
    text-align: center;
    hr {
        width: 100px;
        height: 1.5px;
        border-radius: 2px;
        background: $orange;
        margin: 0 auto;
    }
    h3 {
        font-weight: bold;
        font-size: 32px;
        color: $green;
        padding-top: 12px;
    }
}

.form-control {
    width: 100%;
    background: #ccc;
    border-radius: 4px;
    padding: 12px;
    border: none;

    &:focus {
        outline: 2px solid $bg-color;
    }
}

.contact-us {
    position: relative;
    padding: 120px 0 96px;
    .container {
        z-index: 9;
        .title-group {
            text-align: left;
            hr {
                margin-left: 0;
                background: #fff;
            }
            h3 {
                color: #fff;

            }
        }
        .contact-us-group {
            .contact-us-item {
                display: flex;
                margin-bottom: 20px;
                .contact-us-item__img {
                    i {
                        color: $green;
                        font-size: 20px;
                    }
                }
                .contact-us-item__title {
                    padding-left: 12px;
                    h4 {
                        color: $green;
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 0;
                        .contact-group-icon {
                            padding-left: 12px;
                        }
                    }
                    p {
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .contact-us-bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 48%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .contact-ontop {
        position: absolute;
        left: 47%;
        bottom: -90px;
        transform: translateY(-50%);
    }
}

#footer {
    background: $bg-color;
    padding-top: 60px;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        .navbar-nav {
            list-style: none;
            li {
                float: left;
                a {
                    font-weight: bold;
                    padding: 12px;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
    .footer-subcribe {
        display: flex;
        input {
            border-radius: 20px;
            border: 2px solid $green;
            width: 60%;
            padding: 8px 40px;
            &:focus {
                outline: none;
            }
        }
        button {
            background: $green;
            color: #fff;
            border-radius: 20px;
            width: 45%;
            margin-left: -32px;
            border: none;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .footer-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        .footer-address-item {
            display: flex;
            align-items: center;
            i {
                color: $green;
                font-size: 24px;
                margin-right: 8px;
            }
            img {
                margin-right: 8px;
            }
            &:last-child {
                width: 45%;
            }
        }
    }
    .footer-content {
        padding-bottom: 32px;
        p {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .footer-final {
        background: #c4c4c4;
        padding: 12px 0;
    }
}


.back-to-top {
    position: fixed;
    display: none;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    font-size: 16px;
    right: 40px;
    bottom: 300px;
    z-index: 99;
    transition: background 0.1s;

    &::hover {
        color: #fff;
        background: #555;
    }

    img {
        width: 60px;
        height: 62px;
    }
}


.pagination {
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 32px 0;
	ul {
		list-style: none;
		li {
			float: left;
			a {
				font-weight: bold;
				padding: 12px;
				font-size: 20px;
			}
			&.active {
				a {
					color: $bg-color;
				}
			}
		}
	}
}


.form-grp {
	margin-bottom: 40px;
    font-size: 18px;
	label {
		display: block;
		margin-bottom: 20px;
	}
	.form-ctrl {
		width: 100%;
		border-radius: 20px;
		height: 40px;
		line-height: 40px;
		padding: 12px 24px;
		border: 1px solid $green;
		&:focus {
			outline: none;
		}
	}
	textarea.form-ctr {
		height: 100px;
	}
	
}
.form-grp-checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 40px;
    .form-checkbox {
        display: flex;
        align-items: center;
        input {
            margin-right: 8px;
            width: 20px;
            height: 20px;
        }
    }
}
.form-grp-wh {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    h4 {
        font-size: 18px;
        padding-right: 24px;
    }
    a {
        text-decoration: underline;
        color: $green;
    }
}
.form-grp-btn {
    text-align: center;
    margin-bottom: 40px;
    .btn-sbm {
		border: 0; 
        background: transparent;
        cursor: pointer;
	}
}
.hide {
    display: none;
}

.sign-in {
    
    .sign-in__title {
        text-align: center;
        margin-bottom: 40px;
        h2 {
            color: $green;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 12px;
        }
        p {
            margin-bottom: 12px;
            font-size: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .sign-in__content {
        background: #fff;
        border-radius: 8px;
        padding: 80px 72px;
    }
}